apiVersion: v1
kind: ConfigMap
metadata:
  name: metallb-config
  namespace: {{ metallb.namespace }}
data:
  config: |
    peers:
    - peer-address: {{ metallb.peer_address }}
      peer-asn: {{ metallb.peer_asn }}
      my-asn: {{ metallb.my_asn }}
    address-pools:
    - name: default
      protocol: bgp 
      addresses:
      - {{ metallb.addresses }}
