resources:
  requests:
    cpu: 10m
    memory: 32Mi

podDnsPolicy: "None"
podDnsConfig:
  nameservers:
    - "{{ cert_manager.dns }}"

webhook:
  enabled: false
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
